@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: .1rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color: #d92020;
}

::-webkit-scrollbar-thumb {
  background-color: #dfded8;
  border-radius: 5rem0;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
}

header {
  padding: 40px 22%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1001;
}

.logo {
  font-size: 2rem;
  color: #d92020;
  text-decoration: none;
  font-weight: 600;
}

ul.navlist {
  display: flex;
  align-items: center;
}

.navlist li {
  margin-left: 1rem;
}

.navlist li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 2px 12px;
  border: 2px solid #d92020;
  border-radius: 25px;
  transition: all .3s ease;
}

.navlist li a:hover,
.navlist li a.active {
  box-shadow: 0 0 1rems #d92020;
  background: rgba(217, 32, 32, 0.4);
  color: #fff;
}

/*section {
  min-height: 115vh;
}*/

.parallax-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.parallax-home img {
  position: absolute;
}

.planete #p4 {
  position: absolute;
  left: 10%;
  top: 20%;
}

.planete:hover #p4 {
  cursor: pointer;
  margin-top: 6%;
}

.planete {
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1001;
}

.planete #lg-yt {
  position: absolute;
  left: 12%;
  top: 20%;
}

.contente #p1 {
  position: absolute;
  left: 10%;
  top: 20%;
}


.content {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 738px;
  padding: 40px 0 40px 0;
}

.hero-back {
  width: 100%;
  height: calc(100vh);
  background: url(Galaxy-Home/Galaxy_DUAP_Background.png);
  background-size: cover;
  position: relative;
}

/*.contente {
  width: 100%;
  height: calc(100vh);
  background: url(Galaxy-Home/DUAP-Background.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1002;
}*/

.parallax {
  background-image: url("Galaxy-Home/Galaxy_DUAP_Background.png");
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*following just for demo purposes to add height and top padding*/
  height: 200vh;
  padding-top: 100vh;
}

.contente img {
  position: absolute;
}

.parallax-curtain {
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  background-image: url("Galaxy-Home/DUAP-Background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-family: Poppins;
  color: #fff;
}

p {
  font-family: Poppins;
  line-height: 30px;
  color: #fff;
  font-weight: lighter;
}

.hero-back img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}